.product__title{
    font-weight: bold;
    font-size: 32px;
}

.product__main{
    display: flex;
    justify-content: space-between;
}

.product__information{
    width: 70%;
}

.product__buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    width: 30%;
}