.product__title{
    font-weight: bold;
    font-size: 32px;
}

.product__main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    height: 100%;
    margin: 30px 0px;
}

.product__information{
    display: flex;
    align-items: center;
    gap: 30px;
}

.product__buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    width: 30%;
}

.product__details{
    width: 400px;

}

.product__details h1{
    font-size: 24px;
    font-weight: bold;
}

.product__details p{
    font-size: 16px;
    color: gray;
}

.product__details h2{
    font-size: 16px;
    font-weight: bold;
    color: red;
}

.btnBuyNow{
    background: black;
    color: white;
    margin-top: 20px;
}
.productImage__container{
    width: 500px;
    height: 500px;
}

.product__actions{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.btnCounter{
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog__product{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dialog__product h2{
    font-weight: bold;
}

span{
    color: black;
}