.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnLogin{
    background-color: black;
    color: white;
}

.btnLogin:focus{
    background-color: rgb(44, 44, 44);
}