.dashboard{
    display: flex;
    height: 100vh;
    position: relative;
    background: #242529;
}

.sidebar{
    padding: 20px;
    border-radius: 10px;
}

.main__container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products{
    background: #37393f;
}

.toolbar{
    padding: 20px;
    border-radius: 10px;
}