.dashboard{
    display: flex;
    height: 100vh;
    position: relative;
}
.backgroundImage {
    background-image: url(https://images.unsplash.com/photo-1558865869-c93f6f8482af?q=80&w=2081&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(150px); /* Ajusta el nivel de desenfoque según necesites */
    z-index: -1; /* Para mantenerlo detrás de los otros elementos */
}

.sidebar{
    padding: 20px;
    border-radius: 10px;
}

.main__container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products{
}

.toolbar{
    background: rgba( 255, 255, 255, 0.55 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    padding: 20px;
    border-radius: 10px;
}