.products{
    background: #37393f;
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products__body{
    height: 500px;
    overflow-y: scroll;
}

.products__header h1{
    font-size: 32px;
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    align-items: stretch;
    height: 500px;
    overflow-y: scroll;
    border-radius: 10px;
}

.table th {
    padding: 8px;
    text-align: left;
    background-color: black;
    color: white;
}

thead{
    position: sticky;
    top: 0;

}

.table td {
    /* border: 1px solid #ddd; */
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}