.tenisCard__content{
    display: grid;
    font-weight: bold;
    grid-template-columns: repeat(2,1fr);
   
}

.tenisCard__right{
    display: flex;
    justify-content: end;
}

.tenisCard__image{
  
}