.tenis__card{
    font-size: 18px;
    cursor: pointer ;
}
.tenis__price{
    font-weight: bold;
}
.tenis__name{
    font-weight: bold;
    color: black;
}

.tenis__status{
    color: #9E3500;
}

.tenis__gender{
    color: #757575;
    margin-bottom: 10px;
}